:root {
  --index: calc(1vh + 1vw);
}

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  overflow: hidden;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
}